.dummySideDiv {
	flex: 2;
	height: 92.5%;
	background-color: #0E160C;
	border-radius: 5px;
}

.centerDiv {
	flex: 3;
	height: 92.5%;
	background-color: #0E160C;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

#proxyDiv {
	flex: 1;
	width: 100%;
}
#proxyInput {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
}
#useProxyBtn {
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	width: 70%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	border: 2px solid #5A5858;
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
	margin-top: 2.5%;
	margin-left: 15%;
	margin-right: 15%;
}
#useProxyBtn:hover {
	border: 2px white solid !important;
}
.proxyOn {
	border: 2px solid green !important;
}
.proxyOff {
	border: 2px solid #5A5858 !important;
}

#controllerDiv {
	flex: 3;
	display: flex;
	flex-direction: column;
}
.settingsBtn:hover {
	border: 2px white solid !important;
}
#resetBtnsDiv {
	flex: 1;
}
#resetProfilesBtn {
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	width: 70%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	border: 2px solid #5A5858;
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 2%;
}
#resetAllBtn {
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	width: 70%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	border: 2px solid #5A5858;
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
}



#impExpBtnsDiv {
	flex: 1;
}
#impEverythingBtn {
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	width: 70%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	border: 2px solid #5A5858;
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 2%;
}
#expEverytingBtn {
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	width: 70%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	border: 2px solid #5A5858;
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
}



#exitAppBtn {
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	width: 70%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	border: 2px solid rgb(92, 34, 34);
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 5%;
}
#exitAppBtn:hover {
	border: solid 2px rgb(212, 25, 25)!important;
}

#dummyBtnsDiv {
	flex: 1;
}