/*
@media screen and (max-height: 800px) {
    a {
        font-size: 20px;
    }
}
*/

.dummyDiv {
	/*relative to content*/
	flex: 2;
	border: 1px white solid;
	height: 92.5%;
	background-color: #0E160C;
}

.centerDiv {
	/*relative to content*/
	flex: 3;
	border: 1px white solid;
	height: 92.5%;
	background-color: #0E160C;

	display: flex;
	flex-direction: column;
}

.proxyDiv {
	/*relative to .centerDiv*/
	flex: 1;
	width: 95%;
	height: 100%;
	border: 1px white red;
}

.proxyOff {
	border: solid 2px #5A5858!important;
}

.proxyOn {
	border-color: solid 2px #3BEB4C!important;
}

.contollerDiv {
	/*relative to .centerDiv*/
	flex: 1;
	width: 95%;
	height: 100%;
	border: 1px red solid;
}

/*
.contoller button {
	border-radius: 5px;
	border-color: white;
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 2%;
	height: 40px;
	width: 500px;
}

.extra {
	margin-bottom: 10% !important;
}



#proxyInput {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

#askProxy {
	width: 50px;
	height: 40px;
	margin-left: 1%;
}

#ask {
	margin-top: 2.5%;
}

#useProxy {
	font-size: 15px;
	font-weight: bold;
    font-style: italic;

	width: 70%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	border: 2px solid;
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
	margin-top: 2.5%;
	margin-left: 15%;
	margin-right: 15%;
}

a {
	font-size: 30px;
	color: white;
}


*/