.dummySideDiv {
	flex: 2;
	border: 1px white solid;
	height: 92.5%;
	background-color: #0E160C;
}

.centerDiv {
	flex: 3;
	border: 1px white solid;
	height: 92.5%;
	background-color: #0E160C;

	display: flex;
	flex-direction: column;
}

#proxyDiv {
	flex: 1;
	width: 100%;
	border: 1px  white solid;
}
#proxyInput {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
}
#useProxyBtn {
	font-size: 15px;
	font-weight: bold;
    font-style: italic;

	width: 70%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	border: 2px solid #5A5858;
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
	margin-top: 2.5%;
	margin-left: 15%;
	margin-right: 15%;
}

#controllerDiv {
	flex: 3;
	border: 1px white solid;

	display: flex;
	flex-direction: column;
}
#resetBtnsDiv {
	flex: 1;
	border: 1px white solid;
}
#resetProfilesBtn {
	font-size: 15px;
	font-weight: bold;
    font-style: italic;

	width: 70%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	border: 2px solid #5A5858;
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 2%;
}
#resetAllBtn {
	font-size: 15px;
	font-weight: bold;
    font-style: italic;

	width: 70%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	border: 2px solid #5A5858;
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
}
#impExpBtnsDiv {
	flex: 1;
	border: 1px white solid;
}
#impEverythingBtn {
	font-size: 15px;
	font-weight: bold;
    font-style: italic;

	width: 70%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	border: 2px solid #5A5858;
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
	margin-left: 15%;
	margin-right: 15%;	
	margin-bottom: 2%;
}
#expEverytingBtn {
	font-size: 15px;
	font-weight: bold;
    font-style: italic;

	width: 70%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	border: 2px solid #5A5858;
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
}
#exitAppBtn {
	font-size: 15px;
	font-weight: bold;
    font-style: italic;

	width: 70%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	border: 2px solid rgb(92, 34, 34);
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
	margin-left: 15%;
	margin-right: 15%;	
}
#exitAppBtn:hover{
	border: solid 2px rgb(212, 25, 25)!important;
}
#dummyBtnsDiv {
	border: 1px white solid;
	flex: 1;
}


.BtnOff {
	border: solid 2px #5A5858!important;
}

.BtnOff:hover {
	border: solid 2px white!important;
}

.BtnOn {
	border-color: solid 2px #3BEB4C!important;
}

.BtnOn:hover {
	border: solid 2px white!important;
}

/*

.controllerBtnOff {
	flex: 1;
	width: 90%;
}


*/



