body {
    background-image: url("../../imgs/background.png");
}

.content {
    display: flex !important;
    flex-direction: row;
    position: absolute !important;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10%;
    height: 5%;
    width: 80%;
}


#img {
    position: absolute;
    height: 60%;
    margin-top: .5%;
    margin-left: 97%;
}

#key {
    flex: 1;
    width: 80%;
    border-radius: 5px;
    border: 2px;
    border-style: solid;
    background-color: #191919;
}

::placeholder {
    color: white;
}