/*LEFT BTNS BAR */
.moduleBtnsDiv {
    /*relative to .content*/
    flex: 1;
    background-color: #0E160C;
    border: 1px white solid;
    height: 92.5%;

    display: flex;
    flex-direction: column;
    gap: 2%;
}
.moduleBtnOff {
    /*relative to the .moduleBtnsDiv*/
    flex: 1;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #0A0A0A;
    border-radius: 5px;
    border: 2px #5A5858 solid;

    position: relative;
}
.moduleBtnOff:hover {
    border: 2px white solid;
}
.moduleBtnOn {
    /*relative to the .moduleBtnsDiv*/
    flex: 1;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #0A0A0A;
    border-radius: 5px;
    border: 2px #3BEB4C solid;

    position: relative;
}
.moduleBtnOn:hover {
    border: 2px white solid;
}
#lowerModuleDiv {
    /*relative to the .moduleBtnsDiv*/
    flex: 5;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px white solid;
}
#adiModuleLogoImg {
    /*relative to the .moduleBtnOn / .moduleBtnOff*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: auto;
    margin: auto;
}
#kithModuleLogoImg {
    /*relative to the .moduleBtnsDiv*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: auto;
    margin: auto;
}
#shopifyModuleLogoImg {
    /*relative to the .moduleBtnOn / .moduleBtnOff*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
    width: 70%; /* you can use % */
    height: auto;
} 



/*RIGHT MODULE SETTINGS TAB*/
.moduleSettingsDiv {
    /*relative to .content*/
    flex: 5;
    background-color: #0E160C;
    border: 1px white solid;
    height: 92.5%;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 2%;
}
#MSupperDiv {
    /*relative to .moduleSettingsDiv*/
    flex: 1;
    width: 96%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
    background-color: #0E160C;
    border: 1px white solid;

    display: flex;
    flex-direction: row;
}
#MSupperLeftTextDiv {
    /*relative to .MSupperDiv */
    flex: 2;
    border: white 1px solid;

    position: relative;
}
#MSupperLeftTextDiv p {
    font-size: 20px;
    color: white;

    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
#MSupperSelectDiv {
    /*relative to .MSupperDiv */
    flex: 2;
    border: white 1px solid;
}
#MSupperDummyDiv {
    /*relative to .MSupperDiv */
    flex: 3;
    border: white 1px solid;
}



/*TABLE WITH SIZES AND ACTION BTNS LEFT DIV*/
#MSlowerDiv {
    /*relative to .moduleSettingsDiv*/
    flex: 16;
    width: 96%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
    background-color: #0E160C;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 1px white solid;

    display: flex;
    flex-direction: row;
}
#MSlowerLeftDiv {
    /*relative to #MSlowerDiv*/
    flex: 1;
    border: 1px white solid;
    height: 90%;

    display: flex;
    flex-direction: column;
}
#MSLLtextDiv { 
    /*relative to #MSlowerLeftDiv */
    flex: 1;
    width: 100%;
    border: 1px white solid;
}
.MSLLdummyDiv {
    /*relative to #MSlowerLeftDiv */
    flex: 10;
    width: 100%;
    height: 100%;
    border: 1px white solid;
}
#MSLLmoveToCartDiv {
    /*relative to #MSlowerLeftDiv */
    flex: 3;
    height: 100%;
    width: 100%;
    border: 1px white solid;
}
#MSLLmoveToCartDiv p {
    text-align: center;
    font-size: 20px;
    color: white;
}
#MSLLtextDiv p {
    /*relative to #MSlowerLeftDiv */
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 0;
}
#MSLLtableDiv {
    /*relative to #MSlowerLeftDiv */
    flex: 7;
    width: 92%;
    height: 92%;
    margin: 4%;
    border: 1px white solid;

    display: flex;
    gap: 2%;
    flex-direction: column;
}
#MSLLselectDiv {
    /*relative to #MSlowerLeftDiv */
    flex: 7;
    width: 92%;
    height: 92%;
    margin: 4%;
    border: 1px white;

    display: flex;
    gap: 2%;
    flex-direction: column;
}
.adiTableRow {
    /*relative to #MSLLtableDiv*/
    flex: 1;
    width: 100%;
    border: 1px white solid;

    display: flex;
    flex-direction: row;
    gap: 1%;
}
.sizeOff {
    /*relative to .adiTableRow*/
    flex: 1;
    position: relative;
    border: 2px #5A5858 solid;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    background-color: #0a0a0a;
}
.sizeOff:hover {
    border: 2px white solid;
}
.sizeOn {
    /*relative to .adiTableRow*/
    flex: 1;
    position: relative;
    color: white;
    font-size: 17px;
    border: 2px #3BEB4C solid;
    border-radius: 5px;
    background-color: #0a0a0a; 
}
.sizeOn:hover {
    border: 2px white solid;
}
#MSLLBtnsDiv {
    /*relative to #MSlowerLeftDiv */
    flex: 1;
    width: 100%;
    border: 1px white solid;

    display: flex;
    flex-direction: row;
    gap: 4%
}
#MSLLselectAllBtn {
    /*relative to #MSLLtableBtnsDiv*/
    flex: 1;
    color: white;
    border: 2px #5A5858 solid;
    border-radius: 5px;
    background-color: #0A0A0A;

  /*  position: relative;*/
}
#MSLLselectAllBtn:hover {
    border: 2px white solid;
}
#MSLLunselectAllBtn {
    /*relative to #MSLLtableBtnsDiv*/
    flex: 1;
    color: white;
    border: 2px #5A5858 solid;
    border-radius: 5px;
    background-color: #0A0A0A;
}
#MSLLunselectAllBtn:hover {
    border: 2px white solid;
}
.btnOn {
    border: 2px #3BEB4C solid;
}
.btnOff {
    border: 2px #5A5858 solid;
}

/*ACTION BTNS RIGHT DIV*/
#MSlowerRightDiv {    
    /*relative to #MSlowerDiv*/
    flex: 1;
    border: 1px white solid;
    height: 90%;

    display: flex;
    flex-direction: column;
}
.MSLRdummyDiv {
    /*relative to #MSlowerRightDiv */
    flex: 2;
    border: 1px white solid;
}
#MSLRbtnsDiv {
    /*relative to #MSlowerRightDiv */
    flex: 5;
    border: 1px white solid;

    display: flex;
    flex-direction: column;
}
#MSLRbtnsTextDiv {
    /*relative to #MSLRbtnsDiv */
    flex: 1;
    border: 1px white dotted;
}
#MSLRbtnsTextDiv p {
    font-size: 20px;
    color: white;
    margin: 0;
    text-align: center;
}
.actionBtnOff {
    font-size: 15px;
	font-weight: bold;
    font-style: italic;

	width: 70%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	border: 2px solid #5A5858;
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 2%;;
}
.actionBtnOff:hover {
    border: 2px white solid;
}
.actionBtnOn {
    font-size: 15px;
	font-weight: bold;
    font-style: italic;

	width: 70%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
    border: 2px #3BEB4C solid;
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 2%;;
}
.actionBtnOn:hover {
    border: 2px white solid;
}

/*OTHER*/
select, input {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    color: white;
    border-bottom: 2px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    scroll-behavior: smooth;
    width: 100%;
    background: transparent;
}

select {
    -webkit-appearance: menulist-button;
    color: white;
}

select:invalid {
    color: #5A5858;
}