/*BASIC CSS FONTS AND STUFF*/
label, h1, h2, h3, h4, h5, a, p, button {
    font-family: Roboto;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

.content {
    height: 92.5%;
    position: relative;

    display: flex;
    gap: 1%;
    flex-direction: row;
}

::selection {
    background: transparent;
}

select, input {
    width: 95%;
    font-size: 30px;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
}

select {
    -webkit-appearance: menulist-button;
}

select:invalid {
    color: grey;
}

::placeholder, select, option {
    color: grey;
    font-weight: 350;
}

select:defined {
    color: grey;
}

input {
    padding-left: .5%;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    background-color: #0A0A0A;
}

/*NAVIGATION STUFF*/
.navigation {
    height: 10%;
}

.navText {
    font-family: Roboto;
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.navUnderlineA a:hover {
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
}

#middleNavText {
    margin-left: 3.5%;
    margin-right: 3.5%;
}

.navigation table {
    margin: auto;
    left: 0%;
    right: 0%;
    width: 98%;
    height: 100%;
}

/*IMAGES AND LOGOS STUFF*/
img {
    height: 50px;
}

img #shelterLogo {
    float: left;
}

img #degoshLogo {
    float: right;
}

#attention {
    display: none;
    position: absolute;
    width: 450px;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*MEDIA ADAPTIVE STUFF*/
@media (max-width: 800px) {
    #shelterLogo, #degoshLogo, #phCountry, #phCard, #leftSide, .country, .card {
        display: none;
    }
}

@media (max-width: 500px), (max-height: 400px) {
    .navigation {
        display: none;
    }
    .content {
        display: none !important;
    }
    #attention {
        display: inline;
    }
}