::-webkit-scrollbar {
    width: 0px;
}

#import {
    margin-right: 50px;
}

#clear {
    margin-left: 50px;
}

#rightSide {
    flex: 1;
    text-align: right;
}

#leftSide {
    flex: 1;
}

/*left div*/
#profilesList,  #profilesListPlace{
    height: 94.5%;
    border-radius: 5px;
    flex: 1;
    margin-right: .25%;
}

#profilesList {
    background: rgb(17, 17, 17, .65);
    margin-left: 1%;
}

#profilesListPlace {
    height: 95%;
    width: 100%;
    overflow-y: auto;
}

.profilesPlaceholder, .constructorControl, .profile {
    cursor: default;
    align-items: center;
    border-radius: 5px;
    display: flex;
    background-color: rgb(17, 17, 17);
    font-size: 25px;
    font-weight: 200;
    width: 100%;
    height: 5%;
}

.profilesPlaceholder {
    color: white;
    margin-bottom: .25%;
    font-weight: bold !important;
}

.profile {
    margin-top: .5%;
    height: 6% !important;
    width: 100% !important;
    color: white;
    background-color: #0A0A0A;
}

#phName, #phCountry, #phCard {
    font-family: Roboto sans-serif;
    font-weight: 100;
}

#phName, .name {
    margin-left: .5%;
    flex: 1;
}

#phCountry, .country {
    flex: 1;
}

#phCard, .card {
    flex: 1;
}

.trash {
    position: absolute;
    right: 50%;
    display: none;
    margin-right: 1%;
    color: white;
}

.profile:hover .trash {
    display: inline;
}

/*right div*/
.constructor {
    display: flex;
    flex-direction: column;
    height: 94.5%;
    flex: 1;
    margin-left: .25%;
    margin-right: 1%;
}

.constructorControl {
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: 5px;
    width: 100%;
    background-color: rgb(17, 17, 17);
    color: white;
    height: 5%;
    font-size: 25px;
}

#import, #export, #test, #clear {
    cursor: pointer;
    flex: 1;
    font-weight: 600;
}

#import:hover, #export:hover, #test:hover, #clear:hover {
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#import {
    margin-left: 2%;
}

#clear {
    margin-right: 2%;
}

/*правый основной блок с инпутами*/
.main {
    background: rgb(17, 17, 17, .65);
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#inputs {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.row {
    display: flex;
    flex: 1;
}

.extra {
    margin-top: 2%;
}

.small {
    margin-top: 1%;
}

.row input, select {
    flex-direction: row;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    width: 100%;
}

#cardInput {
    flex: 1;
    position: relative;
    width: 100%;
}

#cardInput1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 25vh;
    background-color: #070B06;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    margin-left: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 50;
}

#cardInput1 input {
    padding-top: 2%;
}

#cardInput2 {
    border-collapse: collapse;
    position: relative;
    width: 65%;
    height: 25vh;
    background-color: #070B06;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    padding: 1%;
    z-index: 1;
    float: right;
    margin-top: 3.5%;
    margin-right: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

#expdate {
    position: absolute;
    width: 30%;
    bottom: 0;
    margin-bottom: 5%;
}

#cvv {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
    margin-right: 5%;
    margin-bottom: 5%;
}

#go {
    margin-top: 2%;
    font-size: 15px;
	width: 100%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	border: 2px solid #5A5858;
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
}

#go:hover {
    border-color: white;
}